
# Created by https://www.toptal.com/developers/gitignore/api/batch
# Edit at https://www.toptal.com/developers/gitignore?templates=batch

### Batch ###
# BatchFiles
*.bat
*.cmd
*.btm
*.pyc

# End of https://